
<div class="headerDropDown">
  <select id="userList" onchange="onUserchanged()">
  </select>
</div>

<table id="projectList" style="width:100%">
  <tr>
    <th>Project Id</th>
    <th>Start Date</th>
    <th>Time to start</th>
    <th>End date</th>
    <th>Credits</th>
    <th>Status</th>
  </tr>
  <tr></tr>
</table>


@section scripts {
  <script src="~/Scripts/Views/ProjectManagement.js" type="text/javascript"></script>
}